<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-lightbg border-bottom box-shadow bg-white topBarConfig" style="margin-left:18%;">
        <div class="container" style="margin-left:18%;">
            
            @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse pl-3">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link topBar-lyrics " asp-controller="Curriculo" asp-action="Index">Curriculo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link topBar-lyrics" asp-controller="SegDesemprego" asp-action="Index">Seguro Desemprego</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link topBar-lyrics" asp-controller="Home" asp-action="Contato">Contato</a>
                    </li>
                </ul>
            </div>*@
        </div>
    </nav>
</header>

